/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

svg{
    height: 17px;
    fill: #102870;
}

:root {
    --Big-font: ;

}

body{
    width: 100%;
    max-height: 100vh;
    background-color: whitesmoke;
}



/* So on to the classes of the web version, Note: All these classes have 'DESKTOP' starting them for clarity */



@media screen and (max-width: 3767px) {

    /* Box-Icon for all the icons generally on the page */
    box-icon {
        fill: rgb(3, 42, 94);
    }

    
    main{
        margin: 0px auto;
        max-width: 767px;
        width: 100%;
        position: relative;
        top: -10px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        margin: 10px auto;
        width: 90%;        
    }

    /* Profil CSS */
    .profile-super{
        width: 90%;
        margin: 20px auto;
        background-color: #ebebeb;
        box-shadow: 0px 0px 20px -2px grey;
        border-radius:10px;
        padding: 10px;
    }
    .profile {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
    }

   .profile-photo {
        width: 120px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .profile-content {
        justify-content: center;
        flex-wrap: nowrap;
        padding: 10px 0px;
        box-sizing: border-box;
        flex-basis: 60%;
        margin-left: 50px;
        align-items: center;
    }
    .profile-content h2 {
        padding: 5px 0px;
        font-size: 24px;
        width: 100%;
        text-align: left;
    }
    .profile-content p {
        width: 100%;
        text-align: left;
    }
    

    .contact {
        display: block;
        color: grey;
        font-size: 15px;
    }
    .contact svg{
        fill: grey;
    }
  

   .contact-container  {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        padding: 5px 10px;
    }

    .contact div box-icon {
        fill:  rgb(3, 42, 94);
        margin: 10px;
        align-items: center;
    }
    .number-mail {
        margin-left: 30px;
    }
    /* Wallet and Orders Section */
    

    div.class_data{
        width: 90%;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }
    .class_data .head{
        font-size: 18px;
        font-weight: bold;
    }
    .class_data.others div.Flex{
        margin-top: 5px;
    }
    .class_data .leave{
        align-self: flex-end;
        display: flex;
        font-size: 14px;
        width: max-content;
        padding: 5px 10px;
        color: red;
        background-color: #ffeded;
        fill: red;
        border-radius: 5px;
        cursor: pointer;
    }
    .class_data .leave > :nth-child(n){
        align-self: center name
    }
    .class_data .name{
        padding: 10px;
        font-size: 15px;
        color: grey;
        text-align: left;
    }
    .class_data .name.udl{        
        border-bottom: 1px dashed;
        margin-bottom: 20px;
    }
    .right{
        text-align: right;
    }




    .class_data .leave .icon svg{
        fill: red;
    }
    .class_data .leave .icon{
        margin: 5px 10px ;
    }



    /* 5TH SECTION CONTAINING OTHER ITEMS BREFORE THE LOG OUT BUTTON */
    .others{
        width: 90%;
        padding: 5px 0px;
        margin: 10px auto 0px;
        font-size: 25px;
    }
    .others .Flex {
        padding: 5px 10px;
        box-shadow: rgb(209, 209, 209);
        cursor: pointer;
        color: #102870;
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .others .Flex .icon box-icon {
        margin: 10px;
    align-items: center;
    }
    .others .Flex .content {
        margin-left: 20px;
        font-size: 15px;
        font-weight: 50px;
    }
    /* LOG OUT */
    div.log-out.Flex {
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px -2px grey;
        border-radius: 9px;
        justify-content: center;
    }

    .log-out svg {
        transform: rotate(180deg);
    }  

}
    
@media screen and (max-width: 360px) {
    .profile-content h2 {
        padding: 5px 0px;
        font-size: 16px;
        margin-top: 20px;
    }

}