

.content-area{ 
    display: flex;
    justify-content: space-around;
}

.editsuper{
    width: 65%;
    background-size: 4px 4px;
    box-shadow: -2px 0px 15px 10px grey;
    overflow-y: scroll;
    background-repeat:repeat;
    padding: 10px;
}

.gallerysuper{
    height: 55vh;
    position: relative;
    /* box-shadow: 2px 0px 17px -3px #d1b0b0; */
}
.gallerysuper .slideitemhold{
    height: 90%;
    width: 100%;
    position: relative;
    z-index: 1;
}
.gallerysuper .slideitem{
    position: absolute;
    width: 80%;
    height: 100%;
    background-color:whitesmoke;
    border-radius: 10px;
    transition: transform 0.3s ease, height 0.4s ease, width 0.3s ease, top 0.5s ease;
    opacity: 1;
    box-shadow: 0px 0px 3px rgb(199, 185, 185);
    margin-left: 10%;
}
.gallerysuper .slideitem img{
    width: 100%; 
    height:100%; 
    object-fit:contain
}
.gallerysuper .sliderhold{
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    overflow-x: scroll;
}       

.gallerysuper .control-hold-abs{
    position: absolute;
}    
.sliderhold .slider{
    width: 200%;
    background-color: white;
    height: 100%;
    opacity: 0;
}
.gallerysuper .s-control{
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(105, 103, 103, 0.74);
    text-align: center;
    bottom: 20px;
    transition: all 0.3s;
}
.gallerysuper .dir{
    width: 30px;
}
.gallerysuper .s-control:hover{
    background-color: rgb(43, 41, 41);
}
.gallerysuper .s-control svg{
    height: 16px;
    fill: white;
}

.gallerysuper .left{
    left: 20px;
}
.gallerysuper .right{
    right: 20px;
}
.gallerysuper .enlarge{
    right: calc(50% - 15px);
    z-index: 2;
}

.itembiosuper{
    position: absolute;
    top: calc(55vh + 50px);
    z-index: 3;
    bottom: 0vh;
    background-color: whitesmoke;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 0px 23px 0px grey;
    transition: top 0.3s ease-in;
}
.itembio{
    position: relative;
    height: 100%;
    padding: 10px;
    padding-top: 25px;
}

.swipe-control{
    position: absolute;
    top: -48px;
    right: 10px;
    z-index: 3;
    width: 40px;
    height: 40px;
    background-color: #000000ba;
    border-radius: 50%;
    transition: transform 0.2s ease-in;
}
.topline{
    width: 60px;
    height: 5px;
    top: 10px;
    left: calc(50% - 30px);
    position: absolute;
    border-radius: 4px;
    background-color: grey;
}

.itembio .innerscroll{
    height: 100%;
    overflow-x: scroll;
}
.product-super{
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
}
.product-super h2{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.product-super .prod-image-hold{
    position: relative;
    overflow: hidden;               
}
.product-super .name-price{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.product-super .addtocart{
    display: flex;
    align-items: end;
    width: 50%;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
    border-radius: 30px;
    color: white;
    background-color: rgb(83, 13, 8);
    margin-left: 50%;
    cursor: pointer;
}
.product-super .description{
    padding: 10px;

}
/* .product-super .description > h2{
    font-size: 13px;
} */
.description .body{
    padding: 10px;
    font-size: 15px;
}
.product-super .variation{
    padding: 10px;
}
.variation .vartitle{
    font-weight: bold;
    padding: 10px 0;
}
.variation .varpack{
    display: flex;
}
.variation .varpack .var{
    height: 40px;
    width: 40px;
    background-color: yellow;
    border-radius: 100%;
    margin: 0px 10px;
}
.product-super .reviews{
    padding:10px;
}
.reviews .revpack{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    margin: 20px 0;    
}
.revpack .reverinfo{
    display: flex;
}
.revpack .reverinfo .reverimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: brown;
    margin: 0px;
    margin-right: 10px;
    text-align: center;
}
.reviews .revpack .revbody{
    padding: 10px;
}
.reviews .revpack .role{
    font-size: 12px;
    color: grey;
}
