{% extends "base.html" %}
{% block extrahead%}
<link rel="stylesheet" href="../static/takeattendance/css/style.css">

{% endblock %}
    
{% block content%}

    <!-- Content -->
    <section class="content-area">
        <div class="headtexthold">
            Scan the Post-Auth QRCODE from an authorized end then click the button below to start a digital handshake
        </div>
        <div class="face-filmer-wrap">
            <div class="video-hold">
                <video class="face-filmer" id="face-filmer" playsinline autoplay></video>
                <div class="capturehold">
                    <img src="" alt="">
                </div>
                <canvas style="display: none;" id="canvas"></canvas>
            </div>                  
        </div>
        <div class="controller">
            <button class="action" click="0" id="cancel">Retake</button>
            <button class="action" click="0" id="snap">Capture</button>
        </div>
        
        <img style="display:none" class="testimg " src="" alt="">

        <style>
            .headtexthold{
                padding: 10px;
                margin: 20px 10%;
                color: #6e6e6e;
                font-size: 14px;
            }
            .face-filmer-wrap{
                position: relative;
                width: 100%;
                opacity: 0;
                transition: all 0.6s ease;
            }
            .face-filmer-wrap .video-hold{
                width: max-content;
                height: max-content;
                margin: 0px auto;
                position: relative;
            }
            .face-filmer-wrap .capturehold{
                display: none;
                position: absolute;
                padding: 10px;
                top: 0px;
                background-color:whitesmoke;
                border-radius: 10px;
                box-shadow: 0px 0px 10px -2px grey;
                width: 100%;
                height: 100%;
            }
            .face-filmer-wrap .capturehold img{
                width: 100%;
                height: 100%;
            }


            .face-filmer{
                display: flex;
                margin: 0px auto;
                border: 1px dashed grey;
            }
            
            .controller{
                margin: 30px auto;
                width: max-content;
                width: 60vw;
                justify-content: space-between;
                display: flex;
            }
            .controller .action{
                padding: 12px;
                background-color: #707070;
                font-weight: bold;
                outline: none;
                cursor: pointer;
                border: none;
                border-radius: 8px;
                color: white;
                transition: all 0.3s ease;
            }

            .controller #cancel{
                width: 0px;
                padding: 0px;
                overflow: hidden;
                background-color: grey;
            }
            .controller #snap{
                width: 100%;
            }

            @keyframes rotatecircle {
                0% {transform: rotate(0deg);}
                25% {transform: rotate(10deg);}
                75% {transform: rotate(120deg);}
                100% {transform: rotate(80deg);}
            }
        </style>

        <script>

            let vidPar = $(".face-filmer-wrap").width();
            let coverage = 0.6*vidPar;
            
            let filmer = document.getElementById('face-filmer');
            let canvas = document.getElementById('canvas');
            let snap = document.getElementById('snap');
            let stream = null;

            let captured = '';
            // let errmss = document.getElementById('errormess');

            let constraints = {
                audio:false,
                video:{
                    width:coverage, 
                    height:coverage,
                    facingMode: "user",
                }
            }
            
            async function init(constraints){
                try{
                    stream = await navigator.mediaDevices.getUserMedia(constraints);
                    filmer.srcObject = stream;

                    $("#canvas").attr('height',coverage).attr('width',coverage)
                    setTimeout(() => {
                        $(".face-filmer-wrap").css({
                            opacity: 1
                        })
                    }, 900);

                }catch(e){
                    alert(e.toString());
                }
            };
            init(constraints);
            
            setTimeout(() => {
                var context = canvas.getContext('2d');
                context.drawImage(filmer, 0, 0, coverage, coverage);
                const newBase64 = canvas.toDataURL("image/jpeg", 1);
                $(".testimg").attr('src', newBase64);
                
            }, 1000);

            let captureStore = [];

            $("#snap").click(function(){
                if ($(this).attr('click') == 0){
                    $(this).attr('click',1);
                    $("#snap").text("Use face");
                    $(".controller .action").css({
                        "width": "48%",
                        "padding":"10px",
                    });

                    

                    var context = canvas.getContext('2d');
                    context.drawImage(filmer, 0, 0, coverage, coverage);
                    captured = canvas.toDataURL("image/jpeg", 1);
                    $(".capturehold img").attr('src', captured);
                    $(".capturehold").css({
                        display:"block"
                    }) 
                    $(".face-filmer").css({
                        opacity:"0"
                    }) 

                    return;


                    
                    return       
                }

                
                //To complete Handshake
                if ($(this).attr('click') == 1){      
                    

                    dataCollect({
                        head:"Password Check",
                        entryset:[
                            {name:"Password", required:true, keyname:'password'},
                        ],                        
                        negativeCallback:()=>{},
                        positiveCallback:(retdata)=>{                            
                            let entered_pass = retdata.password;    
                            popAlert("Submitting...");          
                            axios({
                                method: 'POST',
                                url: './api/user/update_face',
                                headers: {
                                    'Cache-Control': 'no-cache',
                                    'Pragma': 'no-cache',
                                    "X-CSRFToken" : $("input[name='csrfmiddlewaretoken']").val()
                                },
                                data: {
                                    "face_b64":captured,
                                    password:entered_pass
                                }
                            }).then(response => {
                                response = response.data;
                                console.log(response);
                                popAlert(response.Message);
                                if (response.passed){
                                    setTimeout(() => {
                                        window.location.href = window.location.origin + "/dashboard"
                                    }, 1000);
                                }
                            })
                            .catch(error => console.error(error))                    
                        },
                    })
                    
                    

                }
            });
            
            $("#cancel").click(function(){
                $("#snap").attr('click',0).css({
                    "width": "100%",
                }).text("Capture");

                $(".capturehold").css({
                    "display":"none"
                })
                $(".face-filmer").css({
                    "opacity":"1"
                })

                $("#cancel").css({
                    "width": "0px",
                    "padding":"0px",
                });
            })
            
            
            function base64Resize(sourceBase64, scale , callBack) {

                const _scale = scale;
                var img = document.createElement('img');
                img.setAttribute("src", sourceBase64);

                img.onload = () => {
                    var canvas = document.createElement('canvas');
                    canvas.width = img.width * _scale;
                    canvas.height = img.height * _scale;

                    var ctx = canvas.getContext("2d");
                    var cw = canvas.width;
                    var ch = canvas.height;
                    var maxW = img.width * _scale;
                    var maxH = img.height * _scale;

                    var iw = img.width;
                    var ih = img.height;
                    var scl = Math.min((maxW / iw), (maxH / ih));
                    var iwScaled = iw * scl;
                    var ihScaled = ih * scl;
                    canvas.width = iwScaled;
                    canvas.height = ihScaled;
                    ctx.drawImage(img, 0, 0, iwScaled, ihScaled);
                    const newBase64 = canvas.toDataURL("image/jpeg", scl);

                    callBack(newBase64);
                }
            }
                                
        </script>
        
    </section>


{% endblock %}