<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Style -->
    
    <link rel="stylesheet" href="../static/dashboard/css/style.css">
</head>
<body>
    <main class="page flex">
        <section class="inner flex">
            <header class="header">
            <div class="first">
                    <div class="menu">
                    <img src="../static/dashboard/img/menu.svg">
                    </div>
                    <div class="alert">
                    <img src="../static/dashboard/img/Group 5.png">
                    </div>
            </div>          
                <div class="intro">
                    <p>Hello, <b>Oluwatosin</b></p>
                    <p class="low">Have a nice day</p>
                </div>
            </header>
            
            <section class="reactport" for="PendingDue_Super" id="PendingDue_Super">

            </section> 


            <section class="pending-due">
                <div class="pending-head">
                    <div class="pending"><b>Assignment</b> (4)</div>
                    <div class="seeall">See All</div>
                </div>
                <div class="box-row">
                <div class="box one">
                    <div class="inner-boxtwo">
                        <h4>Deadline</h4>
                        <h4 class="hspace" >12hrs left</h4>
                        <h5>GNS 101: Use of English 1</h5>
                    </div>
                    </div>
                    <div class="box two">
                        <div class="inner-boxtwo">
                            <h4>Deadline</h4>
                            <h4 class="hspace">1 Day left</h4>
                            <h5>GNS 112: Citizenship</h5>
                        </div>
                        </div>
                    </div>
                </div>
            </section>  


            <section class="today">
                <div class="headline"></div>
                <div class="pending-head">
                    <div class="pending"><b>Today's Class</b></div>
                    <div class="seeall">See All</div>
                </div>
                <div class="container">
                    <!-- <div class="innerbox"> -->
                    <div class="first-flex">
                            <div class="course">
                        <b>COM 101</b>  
                        </div>
                        <div class="alert">
                            <img src="../static/dashboard/img/alert.svg" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <h5>Introduction to Computer</h5>
                        <p class="icon"><img src="../static/dashboard/img/clock.png" alt="">08:00 - 10am</p>
                        <p class="icon bottom"><img src="../static/dashboard/img/map-pin.png" alt="">Computer Room 1</p>
                    </div>
                </div>
                <div class="container container2">
                    
                </div>
            </section>            
        </section>
        <footer class="foot">
            <div class="icon-flex">
                <img src="../static/dashboard/img/home.png" alt="">
                <img src="../static/dashboard/img/Vector-1.png" alt="">
                <img src="../static/dashboard/img/calendar.png" alt="">
                <img src="../static/dashboard/img/user.png" alt="">
            </div>
        </footer>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../static/mainpack/main.js"></script>
</body>
</html>