<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Style -->
    
    <link rel="stylesheet" href="../static/dashboard/css/style.css">
    <link rel="stylesheet" href="../static/general/css/utils.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <main class="page flex">
        {%csrf_token%}
        <section class="inner flex">
            <header class="header">
                <div class="first">
                        <div class="menu">
                        <img src="../static/dashboard/img/menu.svg">
                        </div>
                        <div class="alert">
                        <img src="../static/dashboard/img/Group 5.png">
                        </div>
                </div>          
                <div class="intro">
                    <p>Hello, <b>Oluwatosin</b></p>
                    <p class="low">Have a nice day</p>
                </div>
            </header>

            <section id="Attendance_Super" for="Attendance_Super" class="reactport">
                
            </section>
            
            <section class="reactport" for="PendingDue_Super" id="PendingDue_Super">

            </section> 


            <section class="pending-due">
                <div class="pending-head">
                    <div class="pending">
                        <b>Assignment</b>
                        <span class="c-vert">
                            <svg class="head-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                        </span>
                    </div>
                    <div class="seeall">
                        <svg style="height: 15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"/></svg>                    </div>
                    </div>
                </div>
                <div class="box-row">
                <div class="box one">
                    <div class="inner-boxtwo">
                        <h4>Deadline</h4>
                        <h4 class="hspace" >12hrs left</h4>
                        <h5>GNS 101: Use of English 1</h5>
                    </div>
                    </div>
                    <div class="box two">
                        <div class="inner-boxtwo">
                            <h4>Deadline</h4>
                            <h4 class="hspace">1 Day left</h4>
                            <h5>GNS 112: Citizenship</h5>
                        </div>
                        </div>
                    </div>
                </div>
            </section>  


            <section class="today">
                <div class="headline"></div>
                <div class="pending-head">
                    <div class="pending"><b>Today's Class</b></div>
                    <div class="seeall">
                        <svg style="height: 16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- --><path d="M120 256c0 30.9-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zm160 0c0 30.9-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zm104 56c-30.9 0-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56s-25.1 56-56 56z"/></svg>
                    </div>
                </div>
                <div class="container">
                    <!-- <div class="innerbox"> -->
                    <div class="first-flex">
                            <div class="course">
                        <b>COM 101</b>  
                        </div>
                        <div class="alert">
                            <img src="../static/dashboard/img/alert.svg" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <h5>Introduction to Computer</h5>
                        <p class="icon"><img src="../static/dashboard/img/clock.png" alt="">08:00 - 10am</p>
                        <p class="icon bottom"><img src="../static/dashboard/img/map-pin.png" alt="">Computer Room 1</p>
                    </div>
                </div>
                <div class="container container2">
                    
                </div>
            </section> 
          
        </section>
        <footer class="foot">
            <div class="icon-flex">
                <div class="c-vert s-hold"><svg xmlns="http://www.w3.org/2000/svg" style="height:16px;" viewBox="0 0 576 512"><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg></div>
                <div class="attendance c-vert s-hold">
                    <svg xmlns="http://www.w3.org/2000/svg" style="height:16px;"  viewBox="0 0 384 512"><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM72 272a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm104-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zM72 368a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm88 0c0-8.8 7.2-16 16-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16z"/></svg></div>
                <div class="c-vert s-hold"><svg xmlns="http://www.w3.org/2000/svg"  style="height:16px;"   viewBox="0 0 512 512"><!-- --><path d="M256 112c-48.6 0-88 39.4-88 88C168 248.6 207.4 288 256 288s88-39.4 88-88C344 151.4 304.6 112 256 112zM256 240c-22.06 0-40-17.95-40-40C216 177.9 233.9 160 256 160s40 17.94 40 40C296 222.1 278.1 240 256 240zM256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-46.73 0-89.76-15.68-124.5-41.79C148.8 389 182.4 368 220.2 368h71.69c37.75 0 71.31 21.01 88.68 54.21C345.8 448.3 302.7 464 256 464zM416.2 388.5C389.2 346.3 343.2 320 291.8 320H220.2c-51.36 0-97.35 26.25-124.4 68.48C65.96 352.5 48 306.3 48 256c0-114.7 93.31-208 208-208s208 93.31 208 208C464 306.3 446 352.5 416.2 388.5z"/></svg></div>
            </div>
        </footer>
    </main>

    
    <script src="../static/mainpack/main.js"></script>
</body>
</html>