<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>
<body>
    Hey
    <input type='file' id="up_file" name='file'>
    <div class="init1 init" style="background-color:red">Create Class</div>
    <div class="init2 init" style="background-color:yellow">Addcomment</div>
    <div class="init3 init" style="background-color:green">Addreply</div>
    <div class="init4 init" style="background-color:blue">Fetch comments</div>
    <div class="init5 init" style="background-color:brown">Fetch Post 1</div>
    <div class="init6 init" style="background-color:red">Delete Post 1</div>
    <style>
        .init{
            max-width: 100px;
            border-radius:10px;
            margin: 10px;
            padding: 10px;
            cursor:pointer;
        }
    </style>

    <script>

        $(".init1").click(function(){   
            console.log("Creating");
            let payload = { 
                'name' : "Apotheos",
                'rep_code' : "rep_code",
                department_code : "dept_code",
                'level' : "200",
            }
            axios({
                method: 'POST',
                url: './api/class/create',
                headers: {
                    "X-CSRFToken" : '{{csrf_token}}'
                },     
                data:{
                    payload: payload             
                }            
            }).then(response => {
                console.log(response);
            })
                .catch(error => console.error(error))
        })

        $(".init2").click(function(){   
            data = {
                'post_code' : "v78Q",
                'parent_address' : "base",
                'author_code' : "author_code",
                'text' : "Lorem4",
            }        
            axios({
                method: 'POST',
                url: 'https://intern-chatapp.vercel.app/apis/post/addcomment',
                headers: {
                    'Access-Control-Allow-Origin':"*",
                    'Cache-Control': 'no-cache',
                    'Pragma': 'no-cache',
                    "BEARER-TOKEN" : "intern@omegatechnologies"
                },     
                data:data            
            }).then(response => {
                console.log(response);
            })
                .catch(error => console.error(error))
        })

        $(".init3").click(function(){   
            data = {
                'post_code' : "v78Q",
                'parent_address' : "base|1",
                'author_code' : "author_code",
                'text' : "Lorem4",
            }        
            axios({
                method: 'POST',
                url: 'https://intern-chatapp.vercel.app/apis/post/addcomment',
                headers: {
                    'Access-Control-Allow-Origin':"*",
                    'Cache-Control': 'no-cache',
                    'Pragma': 'no-cache',
                    "BEARER-TOKEN" : "intern@omegatechnologies"
                },     
                data:data            
            }).then(response => {
                console.log(response);
            })
                .catch(error => console.error(error))
        })

        $(".init4").click(function(){   
            data = {
                'post_code' : "v78Q",
                'node_address' : "base",
                'max_count':3,
                'max_layer_depth':1
            }        
            axios({
                method: 'POST',
                url: 'https://intern-chatapp.vercel.app/apis/post/fetchnodecomments',
                headers: {
                    'Access-Control-Allow-Origin':"*",
                    'Cache-Control': 'no-cache',
                    'Pragma': 'no-cache',
                    "BEARER-TOKEN" : "intern@omegatechnologies"
                },     
                data:data            
            }).then(response => {
                console.log(response);
            })
                .catch(error => console.error(error))
        })

        $(".init5").click(function(){   
      
            axios({
                method: 'POST',
                url: './apis/post/fetchpost',
                headers: {
                    'Cache-Control': 'no-cache',
                    'Pragma': 'no-cache',
                    "BEARER-TOKEN" : '{{csrf_token}}'
                },     
                data:{
                    max_count: 2,
                    fetchset:['title', 'body'],
                    querypair:[
                        ['id', '1']
                    ]
                }          
            }).then(response => {
                console.log(response);
            })
                .catch(error => console.error(error))
        })

        $(".init6").click(function(){   
      
            // axios({
                //     method: 'POST',
                //     url: './apis/post/deletepost',
                //     headers: {
                //         'Cache-Control': 'no-cache',
                //         'Pragma': 'no-cache',
                //         "BEARER-TOKEN" : '{{csrf_token}}'
                //     },     
                //     data:{
                //         querypair:[
                //             ['post_code', 'v78Q']
                //         ]
                //     }          
                // }).then(response => {
                //     console.log(response);
                // })
            //     .catch(error => console.error(error))
            axios({
                    method: 'GET',
                    url: 'https://intern-chatapp.vercel.app/fetchtoken/alabi@auth.tuchdelta',
                         
                    data:{
                        querypair:[
                            ['post_code', 'v78Q']
                        ]
                    }          
                }).then(response => {
                    console.log(response);
                })
            .catch(error => console.error(error))
                    

        })

        
        
    </script>
    
    <div class="newtest">
        <input class="mtext" type="text" placeholder="room_name">
        <input class="gtext" type="text" placeholder="group_name">
        <div class="wsinit init" style="background-color:red">INITIATE WS</div>
        <div class="send init" style="background-color:green">Send message</div>
        <div id="mhold"></div>
        <style>
            .newtest{
                border-top: 2px solid grey;
                width: 100%;
            }
        </style>
            
        <script>
            let chatsoc = {}
            // $('.wsinit').click(function(){
                //     let rname = $(".mtext").val()
                //     let gname = $(".gtext").val()
                //     // let gname = "test";
                //     let url = ''
                //     if (gname != "" && rname != ""){
                //         url = `ws://${window.location.host}/ws/socket-server/${rname}/${gname}`
                //     }else{ 
                //         // url = `ws://${window.location.host}/ws/socket-server/` + 'mroom'
                //         alert ("Ode! enter name jor");
                //     }
                //     chatsoc = new WebSocket(url)

                //     chatsoc.onmessage = function(e){
                //         console.log(e)
                //         $('#mhold').append("<br><span>" + JSON.parse(e.data)['message'] +"</span><br>")
                //     }
                //     chatsoc.onopen = function(){
                //         alert("Async Conn Established")
                //     }
                //     chatsoc.onclose = function (event) {
                //         alert('disconnected');
                //     };
                // })
            // $('.send').click(function(){
            //     let tsend =  $('.mtext').val();
            //     if (tsend != ''){
            //         chatsoc.send(tsend)
            //     }else{
            //         alert("Enter message to send")
            //     }                
            // })
                
            $('.wsinit').click(function(){                
                let dc_code = "codeded"
                url = `ws://${window.location.host}/ws/chat/subscribe/${dc_code}`
                chatsoc = new WebSocket(url)

                chatsoc.onmessage = function(e){
                    console.log(e)
                    $('#mhold').append("<br><span>" + JSON.parse(e.data)['message'] +"</span><br>")
                }
                chatsoc.onopen = function(){
                    alert("Async Conn Established")
                }
                chatsoc.onclose = function (event) {
                    alert('disconnected');
                };
            })
            $('.send').click(function(){
                let tsend =  $('.mtext').val();
                if (tsend != ''){
                    chatsoc.send(tsend)
                }else{
                    alert("Enter message to send")
                }                
            })
        
        </script>
    </div>

</body>
</html>